<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhpc.dao.BookedMapper">
	<resultMap id="BaseResultMap" type="com.lhpc.model.Booked">
		<id column="booked_id" property="bookedId" jdbcType="INTEGER" />
		<result column="stroke_id" property="strokeId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="booked_time" property="bookedTime" jdbcType="TIMESTAMP" />
		<result column="booked_seats" property="bookedSeats" jdbcType="INTEGER" />
		<result column="up_address" property="upAddress" jdbcType="VARCHAR" />
		<result column="down_address" property="downAddress" jdbcType="VARCHAR" />
		<result column="message" property="message" jdbcType="VARCHAR" />
		<result column="unbooked_time" property="unbookedTime"
			jdbcType="TIMESTAMP" />
		<result column="unbooked_reason" property="unbookedReason"
			jdbcType="VARCHAR" />
		<result column="unbooked_flag" property="unbookedFlag"
			jdbcType="INTEGER" />
		<result column="unbooked_id" property="unbookedId" jdbcType="INTEGER" />
		<result column="is_enable" property="isEnable" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		booked_id, stroke_id, user_id, booked_time, booked_seats,
		up_address,
		down_address,
		message, unbooked_time, unbooked_reason,
		unbooked_flag, unbooked_id, is_enable
	</sql>

	<select id="selectBystrokeId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wx_booked
		where user_id = #{userId,jdbcType=INTEGER} and stroke_id
		=
		#{strokeId,jdbcType=INTEGER} and is_enable =
		#{isEnable,jdbcType=INTEGER}
	</select>
	<select id="selectByUserId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wx_booked
		where user_id = #{userId,jdbcType=INTEGER} and is_enable = 1
		limit #{page},#{size}
	</select>
	<select id="selectStrokeBystrokeId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wx_booked
		where stroke_id =
		#{strokeId,jdbcType=INTEGER} and
		is_enable =
		#{isEnable,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from wx_booked
		where booked_id = #{bookedId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		wx_booked
		where booked_id = #{bookedId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lhpc.model.Booked">
		insert into wx_booked
		(booked_id, stroke_id, user_id,
		booked_time, booked_seats, up_address,
		down_address, message, unbooked_time,
		unbooked_reason, unbooked_flag,
		unbooked_id,
		is_enable)
		values (#{bookedId,jdbcType=INTEGER},
		#{strokeId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{bookedTime,jdbcType=TIMESTAMP}, #{bookedSeats,jdbcType=INTEGER},
		#{upAddress,jdbcType=VARCHAR},
		#{downAddress,jdbcType=VARCHAR},
		#{message,jdbcType=VARCHAR},
		#{unbookedTime,jdbcType=TIMESTAMP},
		#{unbookedReason,jdbcType=VARCHAR}, #{unbookedFlag,jdbcType=INTEGER},
		#{unbookedId,jdbcType=INTEGER},
		#{isEnable,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.lhpc.model.Booked">
		insert into wx_booked
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bookedId != null">
				booked_id,
			</if>
			<if test="strokeId != null">
				stroke_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="bookedTime != null">
				booked_time,
			</if>
			<if test="bookedSeats != null">
				booked_seats,
			</if>
			<if test="upAddress != null">
				up_address,
			</if>
			<if test="downAddress != null">
				down_address,
			</if>
			<if test="message != null">
				message,
			</if>
			<if test="unbookedTime != null">
				unbooked_time,
			</if>
			<if test="unbookedReason != null">
				unbooked_reason,
			</if>
			<if test="unbookedFlag != null">
				unbooked_flag,
			</if>
			<if test="unbookedId != null">
				unbooked_id,
			</if>
			<if test="isEnable != null">
				is_enable,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bookedId != null">
				#{bookedId,jdbcType=INTEGER},
			</if>
			<if test="strokeId != null">
				#{strokeId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="bookedTime != null">
				#{bookedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bookedSeats != null">
				#{bookedSeats,jdbcType=INTEGER},
			</if>
			<if test="upAddress != null">
				#{upAddress,jdbcType=VARCHAR},
			</if>
			<if test="downAddress != null">
				#{downAddress,jdbcType=VARCHAR},
			</if>
			<if test="message != null">
				#{message,jdbcType=VARCHAR},
			</if>
			<if test="unbookedTime != null">
				#{unbookedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="unbookedReason != null">
				#{unbookedReason,jdbcType=VARCHAR},
			</if>
			<if test="unbookedFlag != null">
				#{unbookedFlag,jdbcType=INTEGER},
			</if>
			<if test="unbookedId != null">
				#{unbookedId,jdbcType=INTEGER},
			</if>
			<if test="isEnable != null">
				#{isEnable,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lhpc.model.Booked">
		update wx_booked
		<set>
			<if test="strokeId != null">
				stroke_id = #{strokeId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="bookedTime != null">
				booked_time = #{bookedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bookedSeats != null">
				booked_seats = #{bookedSeats,jdbcType=INTEGER},
			</if>
			<if test="upAddress != null">
				up_address = #{upAddress,jdbcType=VARCHAR},
			</if>
			<if test="downAddress != null">
				down_address = #{downAddress,jdbcType=VARCHAR},
			</if>
			<if test="message != null">
				message = #{message,jdbcType=VARCHAR},
			</if>
			<if test="unbookedTime != null">
				unbooked_time = #{unbookedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="unbookedReason != null">
				unbooked_reason = #{unbookedReason,jdbcType=VARCHAR},
			</if>
			<if test="unbookedFlag != null">
				unbooked_flag = #{unbookedFlag,jdbcType=INTEGER},
			</if>
			<if test="unbookedId != null">
				unbooked_id = #{unbookedId,jdbcType=INTEGER},
			</if>
			<if test="isEnable != null">
				is_enable = #{isEnable,jdbcType=INTEGER},
			</if>
		</set>
		where booked_id = #{bookedId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lhpc.model.Booked">
		update wx_booked
		set stroke_id = #{strokeId,jdbcType=INTEGER},
		user_id =
		#{userId,jdbcType=INTEGER},
		booked_time =
		#{bookedTime,jdbcType=TIMESTAMP},
		booked_seats =
		#{bookedSeats,jdbcType=INTEGER},
		up_address =
		#{upAddress,jdbcType=VARCHAR},
		down_address =
		#{downAddress,jdbcType=VARCHAR},
		message = #{message,jdbcType=VARCHAR},
		unbooked_time = #{unbookedTime,jdbcType=TIMESTAMP},
		unbooked_reason =
		#{unbookedReason,jdbcType=VARCHAR},
		unbooked_flag =
		#{unbookedFlag,jdbcType=INTEGER},
		unbooked_id =
		#{unbookedId,jdbcType=INTEGER},
		is_enable =
		#{isEnable,jdbcType=INTEGER}
		where booked_id =
		#{bookedId,jdbcType=INTEGER}
	</update>
</mapper>