<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhpc.dao.ImageMapper">
  <resultMap id="BaseResultMap" type="com.lhpc.model.Image">
    <id column="image_id" jdbcType="INTEGER" property="imageId" />
    <result column="image_title" jdbcType="VARCHAR" property="imageTitle" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="image_link" jdbcType="VARCHAR" property="imageLink" />
    <result column="image_sort" jdbcType="INTEGER" property="imageSort" />
    <result column="image_type" jdbcType="INTEGER" property="imageType" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    image_id, image_title, image_url, image_link, image_sort, image_type, is_enable, 
    create_time, update_time
  </sql>
  <select id="selectImageList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_image
    where is_enable = 1 and image_type = 1
    order by image_sort
  </select>
</mapper>