<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhpc.dao.PayLogMapper" >
  <resultMap id="BaseResultMap" type="com.lhpc.model.PayLog" >
    <id column="pay_id" property="payId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pay_id, user_id, buyer_id, seller_id, trade_no, out_trade_no, price, notify_type, 
    notify_time, notify_id, trade_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_pay_log
    where pay_id = #{payId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_pay_log
    where pay_id = #{payId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lhpc.model.PayLog" >
    insert into wx_pay_log (pay_id, user_id, buyer_id, 
      seller_id, trade_no, out_trade_no, 
      price, notify_type, notify_time, 
      notify_id, trade_status)
    values (#{payId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buyerId,jdbcType=VARCHAR}, 
      #{sellerId,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{notifyType,jdbcType=VARCHAR}, #{notifyTime,jdbcType=TIMESTAMP}, 
      #{notifyId,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhpc.model.PayLog" >
    insert into wx_pay_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhpc.model.PayLog" >
    update wx_pay_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhpc.model.PayLog" >
    update wx_pay_log
    set user_id = #{userId,jdbcType=INTEGER},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      notify_type = #{notifyType,jdbcType=VARCHAR},
      notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      notify_id = #{notifyId,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR}
    where pay_id = #{payId,jdbcType=INTEGER}
  </update>
</mapper>