<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhpc.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lhpc.model.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_license" property="carLicense" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="wallet" property="wallet" jdbcType="DOUBLE" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_mobile, user_name, open_id, create_time, login_time, wallet, user_status,car_type,car_license
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getMobileByList" resultType="java.lang.String">
    SELECT
    user_mobile 
    from wx_user 
    WHERE user_id in 
    <foreach collection="bookedList" item="id" open="(" close=")"
    separator=",">
    #{id.userId}
    </foreach>
    </select>
  <select id="selectByOpenID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wx_user
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.lhpc.model.User" >
    insert into wx_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userMobile != null" >
        user_mobile,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carLicense != null" >
        car_license,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="wallet != null" >
        wallet,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
       <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carLicense != null" >
        #{carLicense,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wallet != null" >
        #{wallet,jdbcType=DOUBLE},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateWalletByUserId" parameterType="com.lhpc.model.User">
  	update wx_user set wallet = #{wallet,jdbcType=DOUBLE} where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>